body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: #dcdcdc;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* *{
    outline: 1px solid #ff009926;
} */
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#nav {
  overflow-x: hidden;
}

#nav label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

#nav label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

#nav label .hamburger:after, #nav label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

#nav label .hamburger:before {
  top: -10px;
}

#nav label .hamburger:after {
  bottom: -10px;
}

#nav label input {
  display: none;
}

#nav label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}

#nav label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

#nav label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

#nav label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

#nav label input:checked + .menu + ul {
  opacity: 1;
}

#nav label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s 0s ease-in-out;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Poppins", serif;
}

.home {
  min-height: 100vh;
}

.about__title {
  font-size: 25px;
  font-weight: 700;
}

.about__text {
  font-size: 14px;
}

.projects {
  /* &__image{
        max-width: 540px;
    } */
}

.projects__title {
  font-size: 25px;
  font-weight: 700;
}

.projects__stack p {
  font-size: 13px;
}

.skills__title {
  font-size: 25px;
  font-weight: 700;
}
