body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #dcdcdc;
}

html {
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
  cursor: none !important;
}

/* *{
    outline: 1px solid #ff009926;
} */
#site-header {
  top: 0;
  width: 100%;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 100;
}

#site-header.hide {
  top: -56px;
}

.cursor {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  border: 1.9px solid black;
  width: 20px;
  height: 20px;
  left: 20px;
  right: 0;
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
  pointer-events: none;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dcdcdc;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#particle {
  background-color: #e4e4e4;
  /* position: fixed; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#overlay {
  position: relative;
}

#nav {
  overflow-x: hidden;
}

#nav label .menu {
  /* position: absolute; */
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

#nav label .hamburger {
  position: absolute;
  /* position: fixed; */
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

#nav label .hamburger:after, #nav label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

#nav label .hamburger:before {
  top: -10px;
}

#nav label .hamburger:after {
  bottom: -10px;
}

#nav label input {
  display: none;
}

#nav label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}

#nav label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

#nav label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

#nav label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

#nav label input:checked + .menu + ul {
  opacity: 1;
}

#nav label ul {
  z-index: 200;
  /* position: absolute; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* transition: 0.5s 0s ease-in-out; */
  transition: 0.6s 0s ease-in-out;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Poppins", serif;
}

.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}

.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}

.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
  top: 0;
}

.menu-icon span:last-of-type {
  bottom: 0;
}

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}

@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}

.home {
  min-height: 100vh;
}

.about__title {
  font-size: 25px;
  font-weight: 700;
}

.about__text {
  font-size: 14px;
}

.projects {
  background: #f3f4f5;
  /* &__image{
        max-width: 540px;
    } */
}

.projects__title {
  font-size: 25px;
  font-weight: 700;
}

.projects__stack p {
  font-size: 13px;
}

.skills {
  min-height: 390px;
}

.skills__block {
  margin-top: -80px;
}

.skills__title {
  font-size: 25px;
  font-weight: 700;
}

.skills i {
  font-size: 85px;
}

.skills__container {
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 50px;
}

.skills__container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__iconContainers {
  text-align: center;
}

.skills__iconContainers:hover {
  color: #8b72af;
}

.skills__iconContainers p {
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .skills__block {
    margin-top: -20px;
  }
}

@media (max-width: 396px) {
  .skills__container {
    column-gap: 10px;
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.footer {
  position: relative;
  height: 25vh;
  text-align: center;
  background-color: white;
}

.footer a {
  margin: 0 13px;
}

.footer p {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 17px;
}

.logos {
  cursor: none;
  width: 43px;
}

.logos:hover {
  filter: invert(48%) sepia(30%) saturate(600%) hue-rotate(223deg) brightness(94%) contrast(84%);
}

.linkedin {
  width: 55px;
}

.github {
  width: 48px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .footer {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
