@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #e4e4e4;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: none !important;
}

/* *{
    outline: 1px solid #ff009926;
} */
#site-header {
  top: 0;
  width: 100%;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 100;
}

#site-header.hide {
  top: -56px;
}

.cursor {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  border: 1.9px solid black;
  width: 20px;
  height: 20px;
  left: 20px;
  right: 0;
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
  pointer-events: none;
  z-index: 101;
}

/* ---- particles.js container ---- */
#particle {
  background-color: #fff;
  position: fixed;
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#overlay {
  position: relative;
}

#nav {
  overflow-x: hidden;
}

#nav label .menu {
  /* position: absolute; */
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #e1e1e1d6;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: none;
  overflow-x: hidden;
}

#nav label .hamburger {
  position: absolute;
  /* position: fixed; */
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

#nav label .hamburger:after, #nav label .hamburger:before {
  transition: 0.2s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

#nav label .hamburger:before {
  top: -10px;
}

#nav label .hamburger:after {
  bottom: -10px;
}

#nav label input {
  display: none;
}

#nav label input:checked + .menu {
  /* box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff; */
  box-shadow: 90vw 80vw 0 120vw #e1e1e1d6;
  border-radius: 0;
}

#nav label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

#nav label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

#nav label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

#nav label input:checked + .menu + ul {
  opacity: 1;
}

#nav label ul {
  z-index: 200;
  /* position: absolute; */
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* transition: 0.5s 0s ease-in-out; */
  transition: 0.6s 0s ease-in-out;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: end;
}

#nav label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}

#nav label a:hover {
  color: #8b72af;
}

#nav label ul {
  visibility: hidden;
}

#nav label input:checked + .menu + ul {
  visibility: visible;
}

.nav-link {
  padding: 0 !important;
  margin: .5rem 1rem;
}

.navi {
  /* background-color: rgba(255, 255, 255, 0.486); */
  /* background: rgba(255, 255, 255, 0.719); */
  background: rgba(255, 255, 255, 0.7);
  /* min-height: 75px; */
}

@supports (backdrop-filter: blur(1rem)) {
  .navi {
    backdrop-filter: blur(0.1rem);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
}

header img {
  max-width: 47px;
  padding: 5px 0;
  transition: all 0.4s ease-in-out;
}

header img:hover {
  filter: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%);
}

header a {
  text-decoration: none !important;
  color: black !important;
  cursor: none;
}

header a:hover {
  color: #8b72af !important;
}

.link {
  position: relative;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.home {
  min-height: 100vh;
}

.home__block {
  margin: auto;
  margin-top: 19%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__text {
  font-size: 65px;
  line-height: 72px;
  font-weight: 200;
}

.home__text--FrontDev {
  color: #8b72af;
  font-weight: 300;
}

.home__logo {
  width: 190px;
  max-width: 190px;
  transition: all 0.4s ease-in-out;
}

.home__logo:hover {
  filter: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%);
}

.experience {
  background-color: #fff;
  border-radius: 3%;
  min-height: 755px;
}

.experience__textHolder {
  text-align: center;
}

.experience__title {
  font-size: 25px;
  font-weight: 700;
}

.experience__container {
  display: flex;
  justify-content: space-around;
}

.experience__iconNtitle:hover {
  color: #8b72af !important;
  filter: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%);
}

.experience__iconNtitle p {
  margin-bottom: 0;
  font-size: 18px;
}

.experience__iconNtitle img {
  width: 25px;
  margin-right: 4px;
}

@media screen and (max-width: 768px) {
  .experience__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .experience__container div {
    padding: 5px 0;
  }
}

#workTimeline {
  display: none;
}

.containerTimeline {
  width: 80%;
  padding: 0 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  min-height: 423px;
}

.containerTimeline:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  margin-left: -1px;
  width: 1.5px;
  height: 84%;
  background: #c1c1c1;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #8b72af;
  margin-top: 3px;
  z-index: 1;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}

.timeline-content p:nth-child(1) {
  margin-bottom: -2px;
  font-size: 15px !important;
  font-weight: 500;
  color: black;
}

.timeline-content span {
  font-size: 14px;
  color: #666;
}

.timeline-content p {
  font-size: 13px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
  margin-bottom: 0;
}

#workTimeline .timeline-content p {
  font-size: 13.5px;
}

.containerTimeline--work:before {
  height: 51% !important;
}

.timeline-text {
  color: #353232 !important;
}

@media screen and (max-width: 768px) {
  .containerTimeline:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

.about {
  /* margin-bottom: -80px; */
}

.about__container {
  background-color: #fff;
  border-radius: 3%;
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.about__text {
  font-size: 15px;
  margin: auto;
  margin-bottom: 14px;
  max-width: 90%;
}

.about__info {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}

.about__info p {
  margin: 0;
  font-size: 14.5px;
}

.about__info img {
  padding-right: 4px;
  width: 35px;
  filter: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%);
}

.about__info div:nth-child(1) img {
  width: 24px;
  margin-right: 1px;
  margin-bottom: 4px;
}

.about__info div:nth-child(3) img {
  width: 32px;
}

@media (max-width: 768px) {
  .home__logo {
    margin-top: 80px;
  }
}

@media (max-width: 667px) {
  .about__info {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .about {
    margin-bottom: -20px;
  }
}

.resumebutton a {
  color: black;
  text-decoration: none;
  padding: 0.4em calc(0.4em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.15em;
  letter-spacing: 0.07em;
}

.resumebutton a:hover {
  color: #8b72af;
}

.resumebutton a .text {
  /* font-family: proxima-nova, monospace; */
  transform: translate3d(0, 0.4em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.resumebutton a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.4em * 1.2);
  right: calc(0.4em * 1.2);
  height: 3px;
  background: #8b72af;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.resumebutton .line {
  position: absolute;
  background: #8b72af;
}

.resumebutton .line.-right, .resumebutton .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}

.resumebutton .line.-top, .resumebutton .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}

.resumebutton .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

.resumebutton .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

.resumebutton .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

.resumebutton .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.resumebutton a:hover .text,
.resumebutton a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.resumebutton a:hover:after,
.resumebutton a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.resumebutton a:hover .line,
.resumebutton a:active .line {
  transform: scale3d(1, 1, 1);
}

.resumebutton a:hover .line.-right,
.resumebutton a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}

.resumebutton a:hover .line.-top,
.resumebutton a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

.resumebutton a:hover .line.-left,
.resumebutton a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

.resumebutton a:hover .line.-bottom,
.resumebutton a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

.projects {
  background-color: #91919112;
}

.projects__intro {
  text-align: center;
}

.projects__title {
  font-size: 25px;
  font-weight: 700;
}

.projects__type {
  color: #8b72af;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 4px;
}

.projects__name {
  font-size: 25px;
  font-weight: 700;
}

.projects__text {
  /* max-width: 520px; */
}

.projects__text--pr {
  padding-right: 10%;
}

.projects__text--pl {
  padding-left: 10%;
}

.projects__stack p {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 0;
}

.projects__stack p:hover {
  color: #8b72af;
}

.projects__blockInfo--selfEnd {
  align-self: flex-end;
}

.projects__blockImg {
  position: relative;
}

.projects__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease-in-out;
  border-radius: 2%;
  background-color: #0009;
  backdrop-filter: blur(0.08rem);
}

.projects__overlay img {
  max-width: 38px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(104%) contrast(101%);
  transition: all 0.3s ease;
}

.projects__overlay img:hover {
  filter: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%);
  cursor: pointer;
}

.projects__eye {
  position: absolute;
  top: 42%;
  left: 37%;
}

.projects__github {
  position: absolute;
  top: 42%;
  left: 54%;
  width: 37px;
}

.projects__image {
  max-width: 390px;
  border-radius: 2%;
}

.projects__bothBlocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
}

.projects__blockImg:hover .projects__overlay {
  cursor: initial;
  opacity: 1;
}

@media (max-width: 1538px) {
  .projects__image {
    width: 100%;
  }
  .projects__text {
    max-width: 240px;
  }
}

@media (max-width: 1100px) {
  .projects__bothBlocks {
    flex-direction: column;
  }
  .projects__bothBlocks--reverse {
    flex-direction: column-reverse;
  }
  .projects__image {
    max-width: 529px;
  }
  .projects__text {
    max-width: 520px;
  }
  .projects__stack p {
    margin-bottom: 1rem;
  }
  .projects__blockInfo--selfEnd {
    align-self: unset;
  }
  .projects__text--pr {
    padding-right: unset;
  }
  .projects__text--pl {
    padding-left: unset;
  }
}

.skills {
  min-height: 390px;
  text-align: center;
}

.skills__block {
  margin-top: -80px;
}

.skills__title {
  font-size: 25px;
  font-weight: 700;
}

.skills i {
  font-size: 85px;
}

.skills__container {
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 50px;
  background-color: #fff;
  padding: 25px 0;
}

.skills__container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.skills__iconContainers {
  text-align: center;
}

.skills__iconContainers:hover {
  color: #8b72af;
}

.skills__iconContainers p {
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .skills__block {
    margin-top: -20px;
  }
}

@media (max-width: 396px) {
  .skills__container {
    column-gap: 10px;
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  /* margin-bottom: -7px; */
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.footer {
  position: relative;
  height: 19vh;
  text-align: center;
  background-color: #91919157;
}

.footer a {
  margin: 0 13px;
}

.footer p {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 17px;
}

.logos {
  width: 43px;
  transition: all 0.3s ease;
}

.logos:hover {
  filter: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%);
  /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(38deg) brightness(105%) contrast(101%); */
}

.linkedin {
  width: 55px;
}

.github {
  width: 48px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .footer {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
