.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  /* margin-bottom: -7px; */ /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.footer {
  position: relative;
  height: 19vh;
  text-align: center;
  // background-color: $mainColor;
  // background-color: #8b72afb3;
  background-color: #91919157;
  a{
    margin: 0 13px;
  }
  p{
    font-size: $fsTitle;
    font-weight: 500;
    margin-bottom: 17px;
  }
}
.logos{
  width: 43px;
  transition: $hoverTransition;
  &:hover{
    filter: $filterMainColor;
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(38deg) brightness(105%) contrast(101%); */
  }
}
.linkedin{
  width: 55px;
}
.github{
  width: 48px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .footer {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}