.home{
    min-height: 100vh;
    &__block{
        margin: auto;
        margin-top: 16%;
        display: flex;
        justify-content: space-between;
    }
    &__text{
        font-size: 55px;
        &--FrontDev{
            color: $mainColor;
        }
    }
    &__logo{
        margin-right: 60px;
        width: 240px;
        max-width: 240px;
        transition: all 0.25s linear;
        &:hover{
            filter: $filterMainColor;
        }
    }
}