@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #e4e4e4;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: none !important;
}
/* *{
    outline: 1px solid #ff009926;
} */

//everything down here is temp
#site-header {
  top: 0;
  width: 100%;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 100;
}
#site-header.hide {
  top: -56px;
}
.cursor {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  border: 1.9px solid black;
  width: 20px;
  height: 20px;
  left: 20px;
  right: 0;
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s ease,
  background-color 0.2s ease;
  pointer-events: none;
  z-index: 101;
}
