.skills{
    &__title{
        font-size: $fsTitle;
        font-weight: $fwTitle;
    }
    height: 70vh; //temp
    i{
        font-size: 85px;
    }
    &__container{
        flex-wrap: wrap;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__iconContainers{
        text-align: center;
        &:hover{
            color: $mainColor;
        }
        p{
            font-size: 13px;
            margin-top: 4px;
            margin-bottom: 0;            
        }
    }
}