.skills{
    min-height: 390px; 
    text-align: $textAlign;
    &__block{
        margin-top: -80px;
    }
    &__title{
        font-size: $fsTitle;
        font-weight: $fwTitle;
    }
    i{
        font-size: 85px;
    }
    &__container{
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 50px;    
        background-color: $bgColor;
        padding: 25px 0;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: $hoverTransition;
        }
        span{
            transition: $hoverTransition;
        }
    }
    &__iconContainers{
        text-align: center;
        &:hover{
            color: $mainColor;
        }
        p{
            font-size: 13px;
            margin-top: 4px;
            margin-bottom: 0;            
        }
    }
}

.icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: cover;
}
.serverlessImage{
    margin-top: 10px;
    background-image: url(/media/serverless-framework-logo.svg);
}
.serverlessImage:hover{
    filter: invert(52%) sepia(31%) saturate(495%) hue-rotate(223deg) brightness(87%) contrast(96%);
}
.serverlessImg{
    width: 81px;
    margin-top: 10px;
    :hover{
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
}
.serverlessText{
    margin-top: 9px !important;
}
@media (max-width: 768px) {
    .skills{
        &__block{
            margin-top: -20px;
        }
    }
}
@media (max-width: 396px) {
    .skills{
        &__container{
            column-gap: 10px;
        }
    }
}