$mainColor: #8b72af; //temp main color
//also cambiar color Y filter en script.js
//also cambiar style.color y .filter hardcodeado en "experience"
$filterMainColor: invert(50%) sepia(12%) saturate(1413%) hue-rotate(223deg) brightness(94%) contrast(87%); 
//black svgs to $mainColor https://codepen.io/sosuke/pen/Pjoqqp
$bgColor : #fff;

$hoverTransition: all .3s ease;

$fsTitle: 25px; //font-size titles
$fwTitle: 700; //font-weight titles

$fsText: 14px; //font-size text

$textAlign: center; //text-align titles and subtitles